@charset "UTF-8";

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin:auto;
    padding-top:1em;
    background-color: aliceblue;
}

header #container{
    width:90%;
}

header #container ul{
    list-style-type: none;
    margin:auto;
    text-align: center;
}

header #container ul li{
    padding:10px;
    display: inline-block;
    margin-right:3em;
}

header #container ul li a.real-link{
    float: right;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    color:rgb(47, 33, 172);
    padding:5px;
}

header #container ul li a.real-link:hover{
    border-bottom:1.5px solid rgb(104, 119, 255);
}

header #container form{
    display: inline-block;
    float: right;
    font-weight: bolder;
}

header #container #input{
    margin-right:0;
    font-size: 1.3em;
}

header #container form input[type="search"]{
    margin-right: 0;
    padding:10px;
    border-radius: 10px;
    border-color: cornflowerblue;
}

header #container form input[type="search"]{
    margin-right: 0;
    padding:10px;
    border-radius: 10px;
    border-color: cornflowerblue;
}

