@charset "UTF-8";

@keyframes up-down{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-6px);
    }

    100%{
        transform: translateY(0px);
    }
}

::-webkit-scrollbar{
    width:0;
}

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,p,a{
    color:#2f21ac;
}

.clear{
    clear: both;
}

p{
    font-size: 1.1em;
}

article{
    padding:30px;
}

.parallax{
    background-attachment: scroll;
    background-size: cover;
}

.beneficios{
    margin-bottom: 90px;
    position: relative;
}

.a-container{
    display: inline-block;
    padding:0px 0px 0px 20px !important;
}

.texto{
    background-color: #f0f8ff;
    height: 38em;
}

.list{
    list-style-type: disclosure-open;
    padding:10px !important;
    margin-left:11%;
    
}

header{
    margin:auto;
    padding:2em;
    background-color: #f0f8ff;
}

header ul#menu{
    margin:auto;
    width:80%;
    float: left;
}

header ul#menu li{
    padding:10px;
    display: inline-block;
    margin-right:3em;
}

header ul#menu li a.real-link{
    float: right;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    color:#2f21ac;
    padding:5px;
}

header ul#menu li a.real-link:hover{
    border-bottom:1.5px solid #6877ff;
}

header input#iproc{
    float: right;
    margin-top: 14px;
    padding:10px;
    border-radius: 10px;
    border-color: #6495ed;
    width: 20%;
    min-width: 17%;
}

main article#um{
    background-image:url('../imagens/muie_com_parede_azul.jpg');
    height: 40em;
    position: relative;
}

main article#um div{
    padding:20px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 1.3em;
    color: #fff;
    line-height: 2em;
    text-align: center;
}


main article.texto{
    padding:30px;
    padding-top:80px;
}

main article.texto div h2{
    position:absolute;
    top: 30%;
    left:6%;
    margin-left:10px;
}

main article#dois{
    background-image: url('../imagens/livraria.jpg');
    height: 40em;
    position: relative;
}

main article#dois div{
    position: absolute;
    top: 48%;
    left: 62%;
    line-height: 2em;
    font-size: 1.3em;
    color:#eeeeee;
}

main article#dois div#link{
    position: absolute;
    top:49%;
    left: 10%;
    background-color: #2a44d6;
    border-radius: 5px;
    padding-left:4px;
    padding-right:4px;
    transform: translateY(0px);
    animation: up-down 5s ease-in-out infinite;
}

div#link a{
    color:#fff;
    text-decoration: none;
}

footer{
    padding:20px;
    text-align: center;
    background-color:#f0f3ff;
    color:#0b006e;
}

/*Configurações do "cursos"*/
.curs_titulo{
    margin:40px 0px 10px 20px;
}

#cursos #titulo{
    margin-top:40px;
    margin-left:20px;
}

#cursos .list li{
    margin-bottom:10px;
    font-size: 1.3em;
    color:#110299;
}

#cursos .list ::marker{
    font-size: 15px;
    color: #0b53da;
}

#cursos  #lembrete{
    font-size: 1.5em;
    color:#2c1ef5;
}

/*Medias*/

@media (max-width:1108px){
    input[type="search"]{
        display: none !important;
    }

    header ul{
        width: 100%;

    }

    header ul li{
        margin-right:1em;
    }
}
